<h1>Details Page</h1>
<div class="details">
  <h2>Show Listing</h2>

  <%= link_to("<< Back to Search", { :action => 'home' }, :class => 'back-link') %>

  <table summary="Listing Detail View">
    <tr>
      <th>Description</th>
      <td><%= @property.rental_desc %></td>
    </tr>
    <tr>
      <th>Bedrooms</th>
      <td><%= @property.bedroom %></td>
    </tr>
    <tr>
      <th>Bathrooms</th>
      <td><%= @property.bathroom %></td>
    </tr>
    <tr>
      <th>Rent</th>
      <td><%= number_to_currency(@property.rate).to_s + "/mo." %></td>
    </tr>
    <tr>
      <th>Call</th>
      <td><%=  @property.landlord + " at " + @property.phone %></td>
    </tr>
    <tr>
      <th>Location</th>
      <td><%=  @property.town + "/" + @property.parish.parish_name + "/" + @property.parish.county.county_name %></td>
    </tr>
  </table>
</div>