<h1>Demo Results Page</h1>

<%= link_to("<< Back to Search", { :action => 'home' }, :class => 'back-link') %>

<table class="listing table" summary="Subject list">
  <tr class="header">
    <th>&nbsp;</th>
    <th>Town</th>
    <th>Description</th>
    <th>Landlord</th>
    <th>Actions</th>
  </tr>
  <% @properties.each do |list| %>
  <tr>
    <td><%= list.id %></td>
    <td><%= list.town %></td>
    <td><%= list.rental_desc %></td>
    <td><%= list.landlord %></td>
    <td class="actions">
		<%= link_to("View Details", {:action => 'details', :id => list.id}, :class => 'action show') %>
	</td>
  </tr>
  <% end %>

</table>

