<button type="button" class="btn btn-default">
  <%= link_to("<< Back to List", { :action => 'index' }, :class => 'back-link') %>
</button>

<div class="properties edit">
  <h2>Create Property</h2>

  <%= form_for(:property, :url => { :action => 'update', :id => @property.id }) do |f| %>

    <table summary="Property form fields">
      <tr>
        <th>Landlord</th>
        <td><%= f.text_field(:landlord) %></td>
      </tr>
      <tr>
        <th>Bedrooms</th>
        <td><%= f.text_field(:bedroom) %></td>
      </tr>
      <tr>
        <th>Bathrooms</th>
        <td><%= f.text_field(:bathroom) %></td>
      </tr>
      <tr>
        <th>Description</th>
        <td><%= f.text_area(:rental_desc) %></td>
      </tr>
      <tr>
        <th>Rent</th>
        <td><%= f.text_field(:rate) %></td>
      </tr>
      <tr>
        <th>Phone</th>
        <td><%= f.text_field(:phone) %></td>
      </tr>
      <tr>
        <th>Location</th>
        <td><%= f.text_field(:town) %></td>
        <td><%= f.select(:parish_id, @parish.all.map {|p| [ p.parish_name, p.id ]}) %></td>

      </tr>

    </table>

    <div class="form-buttons">
      <%= submit_tag("Update Property") %>
    </div>

  <% end %>
</div>
