<div class="properties index">
  <h2>Properties</h2>

  <button type="button" class="btn btn-default">
    <%= link_to("Add New Property", {:action => 'new'}, :class => 'action new') %>
  </button>

  <div class="table-responsive">
    <table class="table table-hover table-condensed" summary="Property List">
      <tr class="header">
        <th>&nbsp;</th>
        <th>Description</th>
        <th>Bedrooms</th>
        <th>Bathrooms</th>
        <th>Actions</th>
      </tr>
      <% @properties.each do |property| %>
      <tr>
        <td><%= property.id %></td>
        <td><%= property.rental_desc %></td>
        <td class="center"><%= property.bedroom %></td>
        <td class="center"><%= property.bathroom %></td>
        <td class="actions">
          <button type="button" class="btn btn-default">
          <%= link_to("Show", { :action => 'show', :id => property.id }, :class => 'action show') %>
          </button>
          <button type="button" class="btn btn-default">
          <%= link_to("Edit", { :action => 'edit', :id => property.id }, :class => 'action edit') %>
          </button>
          <button type="button" class="btn btn-danger">
          <%= link_to("Delete", { :action => 'delete', :id => property.id }, :class => 'action delete') %>
          </button>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
<!--
  <button type="button" class="btn btn-default">
    <%= link_to("<< Back to Search", { :controller => 'demo', :action => 'home' }, :class => 'back-link') %>
  </button>
-->
</div>